@mixin sm {
    @media (max-width: 520px) {
        @content;
    }
}

@mixin md {
    @media (max-width: 700px) {
        @content;
    }
}

@mixin lg {
    @media (max-width: 830px) {
        @content;
    }
}

@mixin xl {
    @media (max-width: 1020px) {
        @content;
    }
}
