$font1: 'Open Sans', sans-serif;
$color1: #1E1E1E;
$color2: #fff;
$color3: #FFA451;
$color4: #c5c5c5;
$color5: #fcd4ac;
$color6: #ffefdf;
$color7: #ffc289;
$color8: #333333;
$color9: #37cf7b;
$color10: #79e2a8;
$color11: #fd4141;
$color12: #ffd2d2;





